<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Application</h1>

    <div>
        <h2>Choose an option:</h2>
        <ul>
            <li><a href="/Products/Create" class="btn">Create Product</a></li>
            <li><a href="/Products/View" class="btn">View Products</a></li>
            <li><a href="/Products/Edit" class="btn">Edit Product</a></li>
            <li><a href="/Products/Delete" class="btn">Delete Product</a></li>
            <li><a href="/Home/Index" class="btn">Back to menu</a></li>
        </ul>
    </div>
</body>
</html>
